body{
    background: grey;
}

.main{
    background: white;
}

#gamebanner{
    position: relative;
    top: 15px;
}

#playerInput{
    text-align: center;
    height: 64px;
    border-bottom: 3px solid grey; 
}

#playerInput form{
    position: relative;
    top: 12px;
    float: right;
}

.battleArena{
    height: 500px;
}

.playerTwo, .playerOne{
    position: relative;
    top: 127px;
}

.playerTwo h2, .playerOne h2{
    text-align: center;
}

.playerTwo img, .playerOne img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.scoreBoard{
    position: relative;
    top: 254px;
    height: 64px;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
}

.scoreBoard h2{
    float: left;
    margin: 15px 50px;
    font-size: 32px;
}

#chatWindow{
    border-left: 3px solid grey;
    border-bottom: 3px solid grey;
}

#playerBtns{
    height: 64px;
}

#attackBtns{
    position: relative;
    top: 12px;
    float: left;
}

#attackBtns button{
    margin: 0 50px;
    width: 100px;
}

