body{
    background: grey;
}

.main{
    background: white;
}

#gamebanner{
    position: relative;
    top: 15px;
}

.gmMsgContainer{
    
    border-bottom: 3px solid grey;
}

.gmMsgContainer h2{
    position: relative;
    top: 15px;
    font-size: 32px;



}

#playerInput{
    text-align: center;
    height: 64px;
    border-bottom: 3px solid grey; 
}

#playerInput form{
    position: relative;
    top: 12px;
    float: right;
}

.battleArena{
    height: 500px;
}

.playerTwo, .playerOne{
    position: relative;
    top: 127px;
}

.playerTwo h2, .playerOne h2{
    text-align: center;
}

.playerTwo img, .playerOne img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.scoreBoard{
    position: relative;
    top: 254px;
    height: 64px;
    
}

.scoreBoard h2{
    position: relative;
    left: 85px;
    float: left;
    margin: 0px 10px;
    
    font-size: 16px;
}

#chatWindow{
    border-left: 3px solid grey;
    border-bottom: 3px solid grey;
}

.chatMsg{
    background: pink;
    margin: 5px;
    height: 450px;
    overflow: auto;
}

.chatInput form{
    width: 110%;
}



.attackBtns{
    height: 64px;
}

.plyrOneBtn, .plyrtTwoBtn{
    position: relative;
    top: 12px;
    float: left;
    
    
}

#attackBtns button{
    float: left;
    margin: 0 10px;
    width: 100px;
}

